@font-face {
    font-family: 'Elixia';
    src: url(./fonts/ELIXIA.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Elixia';
    color: #ffd166;
    border: 2px solid red;
}

html{
    font-size: 62.5%;
    background-color: #cad2c5;
}

header{
    background-color: #2f3e46;
    text-align: center;
    font-size: 2.5rem;
}

header h1{
    padding: 1.5rem;
}

.wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.left{
    flex-basis: 30%;
}

.right{
    flex-basis: 70%;
}

.computer-choices img{
    transform: rotateX(180deg);
    max-width: 15rem;
}
