@font-face {
    font-family: 'Elixia';
    src: url(./fonts/ELIXIA.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Elixia';
    color: #ffd166;
}

html{
    font-size: 62.5%;
}

header{
    background-color: #2f3e46;
    text-align: center;
    font-size: 2.5rem;
}

header h1{
    padding: 1.5rem;
}